.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e1e0;
  height: 100%;
  min-height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
}

.backButton {
  position: absolute;
  top: 5px;
  left: 5%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border: 1px solid darkgray;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.backButton:hover:not(:disabled) {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.backButton:disabled {
  cursor: auto;
}

.backButton img {
  margin-right: 5px;
}

.logout {
  left: auto;
  right: 5%;
}