.main {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    /* width: 100%; */
    margin-top: 5%;
    margin-inline: 5%;
}

.mainWithUser {
    grid-template-columns: 4fr 13fr;
    gap: 20px;
    width: 100%;
}

.mainWithoutUser {
    width: 65%;
}

section {
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 10px;
    height: min-content;
}

.adminCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
}

.articlesHeader {
    height: 100px;
    border-bottom: 1px dashed lightgray;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333333;
    color:rgb(69, 231, 177);


}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px dashed lightblue;
    width: 100%;
    height: 70px;
}


.userInfo h3, .userInfo h4, .userInfo p {
    margin: 0;
    padding: 0;
}

.userPic {
    width: 100%;
    border-radius: 10px;
    background-color: #CCCCCC;
}

.createArticleButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px dashed lightblue;
    padding-block: 15px;
}

.createArticleButton {
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    margin-left: 0;
    border: 1px solid black;
    border-radius: 5px;
    width: max-content;
    background-color: #E2E1E0;
    font-size: 0.8em;
    font-weight: 700;
    color: #838896;
    transition: 0.2s all ease-in-out;
    width: 80%;
}

.createArticleButton:hover {
    transform: translatey(3px);
    box-shadow: 0 3px 30px hsla(20, 67%, 75%, 0.15);
    color: #000;
    border: 1px solid white;
}

.footer {
    margin: 15px;
    font-size: 1.1em;
}