.ArticlePreview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;    
    width: calc(100%-20px);
    padding: 20px;
    box-sizing: border-box;
    margin-left: 5%;
}

.ArticlePreviewHeader h2 {
    font-size: 2.3em;
    color: #333333;
}

.divider {
    margin-block: 10px;
}

.readMore {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: inherit;
    font-size: 1.8em;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 15px;
    color:rgb(69, 231, 177);
    margin-top: 20px;
    transition: all .2s ease-in-out;
}

.readMore:hover {
    border: 1px solid rgb(69, 231, 177);
}