.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    /* background-color: white; */
    /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
    padding: 10% 15%;
    font-size: larger;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    /* border-radius: 5px; */
    /* margin: auto auto; */
}

.form {
    font-size: larger;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form h2 {
    font-size: 1em;
    margin-bottom: 20px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.inputContainer:not(:first-child){
    margin-top: 15px;
}

.formInput {
    font-size: large;
    padding: 10px 15px; 
    margin-top: 5px;
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    background-color: #E2E1E0;
    width: 88%;
}

.formInput:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

.inputContainer input {
    font-size: large;
    padding: 10px 15px; 
    margin-top: 5px;
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    background-color: #E2E1E0;
    width: 88%;
}

.inputContainer input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

.LoginPageButton {
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    margin-left: 0;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    width: max-content;
    background-color: #E2E1E0;
    font-size: 0.8em;
    font-weight: 700;
    color: #838896;
    transition: 0.2s all ease-in-out;
    width: 100%;
}

.LoginPageButton:hover {
    transform: translatey(3px);
    box-shadow: 0 3px 30px hsla(20, 67%, 75%, 0.15);
    color: #000;
}

h2 {
    margin: 0;
    padding: 0;
}

.textfield {
    margin-top: 10px;
    width: 100%;
    background-color: #FFFFF1;
    border-radius: 5px;
}

.checkboxContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.checkboxContainer p {
    font-size: 18px;
}

.underAuthButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top:10px;
}

.link {
    font-size: 0.55em;
    background-color: inherit;
}