.articlePage {
    display: grid;
    grid-template-columns: 13fr 4fr;
    gap: 30px;
    height: 100%;
    width: 100%;
    padding: 5%;
    /* z-index: 1; */
}

.greenSpan {
    color:rgb(69, 231, 177);
    font-weight: 700;
}

.articleContainer {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    box-sizing: border-box;
}

.articleHeader {
    padding: 10px;
    width: 100%;
    border-bottom: 4px dotted aquamarine;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.suggestedPosts {
    padding: 10px;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

.footer {
    width: 100%;
}

.commentArea {
    margin-top: 10px;
}

.textArea {
    border-radius: 5px;
    resize: none;
    padding: 5px;
    font-size: large;
}

.ButtonFix {
    width: 87%;
    border: 1px dashed aqua;
    color: black;
    font-size: large;
}

pre {
    font-size: 1.2em;
}